<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tristen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
    <div class="logo">MY SITE</div>
    <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        
    </ul>
    </nav>
    <section class="first-chunk">
        <h1>Hello, I am Tristen</h1>
        <p>A weird kid</p>
    </section>
    <section class="second-chunk">
        <h2>About me</h2>
        <div class="text-content">
        
        <p>I am a student who enjoys learning new things and exploring different interests, even if they aren't "professional"</p>
        
        <div class="text-content">
        <h3>Hobbies</h3>
        <ul>
            <li>Music</li>
            <li>Gaming</li>
            <li>Coding</li>
        </ul>
        
        <img src="/static/Me (1).png" alt="My Photo" width="500">
        </div>

    </section>
</body>
</html>